<%- include('../partials/header'); -%>

        <style>
            @media (min-width: 768px) {
            .h-md-100 { height: 100vh; }
            }
            .btn-round { border-radius: 30px; }
            .bg-image1 { 
                background-image: url('https://i.guim.co.uk/img/media/26392d05302e02f7bf4eb143bb84c8097d09144b/446_167_3683_2210/master/3683.jpg?width=620&quality=45&auto=format&fit=max&dpr=2&s=6fe0ebd22151102996062fa1287f824c'); 
                background-repeat: no-repeat;
                height: 100%;
            }
            .bg-image2 { 
                background-image: url('https://cdn-prod.medicalnewstoday.com/content/images/articles/322/322868/person-walking-two-dogs.jpg'); 
                background-repeat: no-repeat;
                height: 100%;
            }
            .text-cyan { color: #35bdff; }
        </style>


        <div class="d-md-flex h-md-100 align-items-center">

            
            <div class="col-md-6 p-0 bg-image1 h-md-100">
                <div class="text-black d-md-flex align-items-center h-100 p-5 text-center justify-content-center">
                    <div class="logoarea pt-5 pb-5">
                        
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 p-0 bg-image2 h-md-100">
                <div class="d-md-flex align-items-center h-md-100 p-5 justify-content-center">
                    
                </div>
            </div>
                
        </div>

<%- include('../partials/footer'); -%>